<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>APP_NAME</string>
    <key>CFBundleIdentifier</key>
    <string>IDENTIFIER</string>
    <key>CFBundleDisplayName</key>
    <string>APP_NAME</string>
    <key>CFBundleExecutable</key>
    <string>EXECUTABLE_NAME</string>
    <key>CFBundleIconFile</key>
    <string>ICON_NAME</string>
    <key>CFBundleVersion</key>
    <string>VERSION</string>
    <key>CFBundleShortVersionString</key>
    <string>VERSION</string>
    <key>CFBundleSignature</key>
    <string>BUNDLE_SIGNATURE</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.8</string>
    <key>LSBackgroundOnly</key>
    <true/>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
</dict>
</plist>
